<img src="assets/images/logo.png" alt="logo" class="logo">
<hr>
<!-- Menu Utama -->
<h5 class="fw-bold mb-3">Main Menu</h5>
<hr class="my-4" />
<ul class="list-unstyled">
<li><a href="{{ '/random.html' | relative_url }}" class="text-decoration-none">
    <i class="bi bi-shuffle me-2"></i> Random</a></li>
<li><a href="{{ '/archives.html' | relative_url }}" class="text-decoration-none">
    <i class="bi bi-archive me-2"></i> Archives</a></li>
<li><a href="{{ '/recent-change.html' | relative_url }}" class="text-decoration-none">
    <i class="bi bi-clock-history me-2"></i> Recent Change</a></li>
<li><a href="{{ '/last-modified.html' | relative_url }}" class="text-decoration-none">
    <i class="bi bi-pencil-square me-2"></i> Last Modified</a></li>
</ul>
<hr class="my-4" />